@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  color: #3c2313;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
  max-width: 1024px;
  margin: auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover,
button:hover {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

/* Header */

header {
  color: #fff;
}

header .barra-superior {
  background-color: #222222;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  padding: 4px 60px;
}

header .barra-superior ul {
  display: flex;
  gap: 10px;
}

select {
  background-color: #222222;
  color: white;
  border: none;
  font-size: 10px;
}

select {
  cursor: pointer;
}

select option {
  cursor: pointer;
}

header .barra-menu-principal {
  background-color: #f0a83e;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 40px;
}

header .barra-menu-principal nav .icono-menu {
  display: none;
}

header .barra-menu-principal nav ul {
  display: flex;
  gap: 20px;
}

header .barra-menu-principal nav ul li a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f1b0";
}

/* Main */

main {
  background-color: #fff;
}

main .seccion-banner {
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;

  height: 409px;
  font-size: 16px;
  padding: 0px 10px;
}

main .contenedor-de-texto-banner {
  width: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

main .contenedor-de-texto-banner h2 {
  border-radius: 5px;
  background-color: #fff;
  font-size: 30px;
  font-weight: 400;
  padding: 10px;
}

main .contenedor-de-texto-banner a {
  border-radius: 5px;
}

main .seccion-banner a {
  background-color: #f0a83e;
  color: #fff;
  padding: 15px 23px;
  text-transform: uppercase;
}

main .seccion-banner img {
  background-size: cover;
}

.seccion-productos {
  text-align: center;
}

main .encabezado-de-seccion {
  margin: 20px 0px;
}

main .encabezado-de-seccion img {
  width: 67px;
}

main .encabezado-de-seccion .breadcrumb {
  font-size: 15px;
  color: #666666;
}

main .encabezado-de-seccion h1 {
  font-size: 40px;
  font-weight: 700;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  gap: 13px;
}

section .contenedor-productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 0px;
}

section article {
  width: 265px;
  font-size: 15px;
  font-weight: 500;
  background-color: #fbfaf6;
  padding-bottom: 7px;
}

section article .precio-articulo {
  color: #f0a83e;
}

.section-contactanos form {
  align-items: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px 0px;
}

.section-contactanos form h2 {
  font-size: 25px;
  font-weight: 700;
  padding: 10px 0px;
}

.section-contactanos form input {
  width: 340px;
  height: 40px;
  padding: 0px 14px;
  border-style: none;
  color: #fff;
  font-size: 9px;
  background-color: #3c2313;
  border-radius: 15px;
}

.section-contactanos form input::placeholder {
  color: #fff;
}

.section-contactanos form .controles-formulario {
  padding: 30px 6px;
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.section-contactanos .controles-formulario .boton-resetear,
.boton-enviar {
  width: 110px;
  height: 34px;
  border-style: none;
  color: #fff;
  border-radius: 15px;
}

.boton-resetear {
  background-color: #8a8787;
}

.boton-enviar {
  background-color: #f0a83e;
}

/* Footer */

footer {
  font-weight: 700;
}

footer .footer-header {
  background-color: #f0a83e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 23px;
}

.footer-header h2::before {
  content: url(../img/correo.png);
  margin-right: 10px;
}

footer .footer-header form {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer .footer-header form input {
  width: 340px;
  height: 40px;
  padding: 0px 14px;
  border-style: none;
  color: #fff;
  font-size: 9px;
  background-color: #fff;
  border-radius: 15px;
}

footer .footer-header form input::placeholder {
  color: #a0a0a0;
}

footer .footer-header form button {
  background-color: #3c2313;
  font-size: 9px;
  font-weight: 700;
  width: 70px;
  height: 34px;
  border-style: none;
  color: #fff;
  border-radius: 15px;
}

footer .footer-header h2 {
  color: #fff;
  font-size: 20px;
}

footer .footer-body {
  background-color: #3c2313;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
}

footer .footer-body p {
  font-size: 10px;
  color: #8a8787;
}

footer .footer-body p span {
  font-size: 20px;
  color: #fff;
}
footer .footer-body ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0px;
}

footer .footer-body ul li {
  display: flex;
  gap: 25px;
}

footer .footer-body ul img {
  width: 66px;
}

footer .footer-footer {
  background-color: #222222;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
}

/* Medias querys */

@media (max-width: 768px) {
  header .barra-superior {
    display: none;
  }

  header .barra-menu-principal nav .icono-menu {
    display: block;
  }

  header .barra-menu-principal nav ul {
    display: none;
  }

  main .seccion-banner {
    justify-content: center;
    padding: 0px;
  }

  main .contenedor-de-texto-banner {
    align-items: flex-end;
  }

  main .contenedor-de-texto-banner a {
    margin-right: 10px;
  }

  section .contenedor-productos {
    flex-direction: column;
    align-items: center;
  }

  section article {
    width: 239px;
  }

  section article img {
    width: 239px;
  }

  .section-contactanos form h2 {
    font-size: 40px;
  }

  .section-contactanos form .controles-formulario .boton-resetear,
  .boton-enviar {
    width: 50%;
    height: 45px;
  }

  footer .footer-header {
    flex-direction: column;
    gap: 16px;
  }
  .footer-header h2::before {
    margin-right: 24px;
  }

  footer .footer-header form input {
    width: 261px;
  }

  footer .footer-header form button {
    width: 100px;
    font-size: 15px;
  }

  footer .footer-body {
    flex-direction: column-reverse;
    padding: 10px 0px;
  }

  footer .footer-body p span {
    font-size: 24px;
  }

  footer .footer-body p {
    font-size: 13px;
  }

  footer .footer-footer {
    font-size: 13px;
  }
}
